/3-netbeans-gui-apps/03-jtable/app2/build/
/3-netbeans-gui-apps/03-jtable/app2/nbproject/private/
/3-netbeans-gui-apps/04-update/app2/build/
/3-netbeans-gui-apps/04-update/app2/nbproject/private/
/3-netbeans-gui-apps/05-delete/app2/build/
/3-netbeans-gui-apps/05-delete/app2/nbproject/private/
/3-netbeans-gui-apps/06-addbatch/app2/build/
/3-netbeans-gui-apps/06-addbatch/app2/nbproject/private/
/3-netbeans-gui-apps/07-addbatch-with-preparedstatement/app2/build/
/3-netbeans-gui-apps/07-addbatch-with-preparedstatement/app2/nbproject/private/
